{% extends 'index.html' %} {% block body %}
<style>
  
</style>
<div class="jumbotrom text-center" style="margin-top:50px ;">
  <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12" style="height: 100px; ;">
        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
        <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
    </svg>
</div>
  <p>Write <Article></Article></p>
    <form action="upload" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="title" placeholder="Title" class="form-control" />
      </div>
      <div class="form-group">
        <textarea name="content" placeholder="Content" class="form-control" style="height: 240px;"></textarea>
      </div>
      <div class="form-group">
        <label  class="file">
          <input type="file" name="image_upload" class="form-control-file"/>
          <span class="file-custom"></span>
        </label>
        
      </div>
      <div class="jumbotrom text-center">
        <button class="button bg-blue-700 form-control" type="submit">Post</button>
      </div>
    </form>
</div>
{% endblock %}
